{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css"> -->
    <link rel="stylesheet" href="{% static '/stylesheet.css' %}">
    <title>Habit Tracker</title>
</head>

<body>
    <a href="/" style="text-decoration: none;">
        <nav class="nav">
            <h1>Habit Tracker</h1>
            <a class="sign-in" href="{% url 'auth_login' %}" style="text-decoration: none;">Log in |</a>
            <a href="{% url 'auth_logout' %}" style="text-decoration: none;">Logout</a>
        </nav>
    </a>

    {% block content %}
    {%  endblock %}
    <!-- <script src="https://cdn.shoelace.style/1.0.0-beta24/shoelace.js"></script> -->
</body>

</html>